.contacts__form-input{
    width: 84%;
    height: 70px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #949494;
    background-color: #f8f8f8;
    padding-left: 24px;
    transition: background-color linear .2s;
}


.contacts__form-input:focus{
    outline: none;
    background-color:  #ffe08a;
}
.contacts__form-input:hover{
    background-color:  #ffe08a;
}